:root {
	--header-background-color: #13a2ce;
	--footer-background-color: #333;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}

body {
	font-family: 'Montserrat', sans-serif;

	margin: 0;
	padding: 0;

	min-height: 100vh;
	display: flex;
	flex-direction: column;

	background-image: url('/img/background.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.header {
	background-color: var(--header-background-color);
	color: rgb(255, 255, 255);
	padding: 1.25em;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.main-content {
	flex: 1;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	margin: 1em;
}

.left-content, .right-content {
	padding: 1.25em;
	margin: 0.25em;
	border: none;
	background-color: rgba(255, 255, 255, 0.8);
}

.left-content {
	flex: 0.6;
}

.right-content {
	flex: 0.4;
}

.footer {
	background-color: var(--footer-background-color);
	color: #fff;
	font-size: 12px;
	padding: 20px;
	text-align: center;
	display: flex;
	justify-content: center;
}

.footer-centered {
	position: absolute;
}

.footer-hidden {
	margin-left: auto;
	color: var(--footer-background-color);
	transition: color 0.5s;
}

.footer-hidden:hover {
	color: #fff;
}

.h2-title {
	margin-bottom: 0px;
}

.divider {
	background-color: #aaa;
	height: 1px;
	margin: 10px auto;
}

.logcardlist {
	display: flex;
	flex-direction: column-reverse;
}

.logcard {
	background-color: rgba(189, 93, 14, 0.15);

	border: 1px solid #000;
	border-width: 1px;
	border-color: #aaa;

	margin: 0.625em;
	padding: 0.625em;

	display: flex;
	flex-direction: column;
}

.logtime {
	margin: 5px;
}

.logcontent {
	margin: 5px;

	line-height: 1.5em;
	margin-left: auto;
	text-align: right;
}

.button-container {
	display: flex;
	gap: 15px;
	margin-top: 20px;
}
.button {
	background-color: #4CAF50;
	color: white;
	border: none;
	padding: 15px 30px;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	border-radius: 5px;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	transition: background-color 0.3s ease, transform 0.3s ease;
}
.button:hover {
	background-color: #45a049;
	transform: scale(1.05);
}
.button:active {
	transform: scale(0.95);
}
