:root {
	--header-background-color: #13a2ce;
	--footer-background-color: #333;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}

body {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	
	background-image: url('/img/background.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.header {
	background-color: var(--header-background-color);
	color: rgb(255, 255, 255);
	padding: 1.25em;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.main-content {
	display: flex;
	justify-content: space-between;
	margin: 1em;
}

.left-content {
	flex: 1;
	padding: 1.25em;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 5px;
}

textarea {
	width: 80%;
	margin-right: 10px;
}

.button-container {
	display: flex;
	gap: 10px;
	margin-top: 20px;
}

.button {
	background-color: #4CAF50;
	color: white;
	border: none;
	padding: 10px 20px;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
	border-radius: 5px;
	transition: background-color 0.3s ease, transform 0.3s ease;
}

.button:hover {
	background-color: #45a049;
	transform: scale(1.05);
}

#category-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	gap: 10px;
	margin-top: 20px;
}

#category-container h3 {
	margin-top: 10px;
}

footer {
	background-color: var(--footer-background-color);
	color: #fff;
	font-size: 12px;
	padding: 10px;
	text-align: center;
	margin-top: auto;
}
